

/* Stylesheet */

.titlestyle {
    color: #0d4891;
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;}
  .contentstyle {
    font-family: Arial, sans-serif;
    color: black;
    font-size: x-large;
  }
  .backtotop {
    font-size: medium;
    color: rgb(19, 100, 128);
    position:relative;
  }
  .videostyle {
    font-size:medium;
    color: grey;
  }
  
